# Dependencies
node_modules/
/.pnp
.pnp.js


# Misc
.DS_Store
.env
__pycache__

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

frontend/node_modules
frontend/dist
